# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code files
.vscode/

# Rider files
.idea/

# Dotnet files
project.lock.json
project.assets.json

# Terraform-specific files
**/.terraform/
*.tfstate
*.tfstate.*.backup
crash.log
*.tfvars

# Dotnet binaries
*.dll
*.pdb
*.exe

# Logs
*.log

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Misc
*.env
*.db
.DS_Store

# Jupyter
*.ipynb